<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_vehiculo.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_vehiculo_path(@tipo_vehiculo) %> |
<%= link_to 'Back', tipo_vehiculos_path %>
